<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Home - A J Bosley</title>
    <link rel="stylesheet" href="/new/materialize/css/materialize.min.css">
    <link rel="stylesheet" href="/new/materialize/css/materialize.css">
    <script type="text/javascript" href="/new/materialize/js/materialize.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  </head>

<div class="navbar-fixed">
    <nav>
      <nav class="nav-extended">
    <div class="nav-wrapper purple">
      <a href="#" style="font-size:36px; color:#f0f0f0;font-family:roboto; padding-left:10px;">Aaron Bosley</a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="sass.html"><i class="material-icons left">blur_on</i>Education</a></li>
        <li><a href="badges.html"><i class="material-icons left">work</i>Experience</a></li>
        <li><a href="collapsible.html"><i class="material-icons left">fitness_center</i>Hobbies</a></li>
        <li><a href="contact.html"><i class="material-icons left">email</i>Contact</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="education.html">Education</a></li>
        <li><a href="experience.html">Experience</a></li>
        <li><a href="interests.html">Interests</a></li>
        <li><a href="contact.html">Contact</a></li>
      </ul>
    </div>
  </nav>
</nav>
</div>
<p style="20px" class="nav-buffer"></p>


  <body style="background-color:#6d6f72">

    <div class="container">
    <div class="row">
      <div class="col s4">
        <div class="card" style="background-color:#a4adbc">
          <div class="card-image">
            <img style="opacity:0.75; padding-top:13px;padding-bottom:13px"src="/new/IMG/terror1.png">
            <span class="card-title left-align" style="font-size:32px;color:#3d2929;text-shadow: rgb(237, 217, 217) 1px 0px 0px, rgb(237, 217, 217) 0.540302px 0.841471px 0px, rgb(237, 217, 217) -0.416147px 0.909297px 0px, rgb(237, 217, 217) -0.989992px 0.14112px 0px, rgb(237, 217, 217) -0.653644px -0.756802px 0px, rgb(237, 217, 217) 0.283662px -0.958924px 0px, rgb(237, 217, 217) 0.96017px -0.279415px 0px;"><b>Global terrorism database</b></span>
          </div>
          <div class="card-content">
            <p>In this report I investigate the global terrorism database in an attempt to gain some insights into the worlds terrorism.</p>
          </div>
        </div>
      </div>
      <div class="col s4">
        <div class="card" style="background-color:#a4adbc">
          <div class="card-image">
            <img src="/new/IMG/fire.gif" style="opacity:0.5; padding-top:50px;padding-bottom:50px">
            <span class="card-title center" style="font-size:38px; color:#3d2929;  text-shadow: rgb(237, 217, 217) 1px 0px 0px, rgb(237, 217, 217) 0.540302px 0.841471px 0px, rgb(237, 217, 217) -0.416147px 0.909297px 0px, rgb(237, 217, 217) -0.989992px 0.14112px 0px, rgb(237, 217, 217) -0.653644px -0.756802px 0px, rgb(237, 217, 217) 0.283662px -0.958924px 0px, rgb(237, 217, 217) 0.96017px -0.279415px 0px;"><b>Fire service optimisation</b></span>
          </div>
          <div class="card-content">
            <p>This group report uses the software package "Simul8" in order to optimize the location of a fourth firestation within a network. </p>
          </div>
        </div>
      </div>
      <div class="col s4">
        <div class="card" style="background-color:#a4adbc">
          <div class="card-image" style="padding-top:25px;padding-bottom:25px">
            <img src="/new/IMG/excel.png" style="opacity:0.75;height:180px">
            <span class="card-title right-align" style="font-size:32px; color:#3d2929;  text-shadow: rgb(237, 217, 217) 1px 0px 0px, rgb(237, 217, 217) 0.540302px 0.841471px 0px, rgb(237, 217, 217) -0.416147px 0.909297px 0px, rgb(237, 217, 217) -0.989992px 0.14112px 0px, rgb(237, 217, 217) -0.653644px -0.756802px 0px, rgb(237, 217, 217) 0.283662px -0.958924px 0px, rgb(237, 217, 217) 0.96017px -0.279415px 0px;"><b>Excel/Google sheets projects</b></span>
          </div>
          <div class="card-content">
            <p>This section documents to my Excel/Google sheets experience, almost all of which has been developed during my internship.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  </body>
</html>
